snowsql_config_path = "~/.snowsql/config"
snowsql_connection_name = "dev"

[default]
input_parameters = "()"
return_type = "void"
file = "app.zip"
name = "calculate_mortality_rate_udf"
handler = "app.calculate_mortality_rate"
execute_as_caller = true

[dev]
database = "HOL_DB1"
schema = "COVID_WORLDWIDE"
warehouse = "HOL_WH1"
role = "HOL_ROLE"
overwrite = true
